<style>
  body {
    background: <%= @color %>;
  }
</style>


<h1>Passing params from view to controller</h1>
<h3>My favorite color is <%=@color %>!</h3>


<%if @size.to_i > 9 %>
		<h3>I have HUGE feet!</h3>
	<%else %>
	<h3>My shoe size is <%= @size %>!</h3>
<%end %>

<%= link_to "Green", params_path(color: "green"), class: "btn btn-success" %>
<%= link_to "Red", params_path(color: "red"), class: "btn btn-danger" %>

<br>
<%= link_to "Home", index_path %>
</br>
<br>
<%= link_to "Travel", root_path, class: "navbar-brand" %>
</br>