<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= @homeland %>

<ul>
	<% @countries.each do |country| %>
		<li><%= country %></li>
	<% end %>
</ul>

<%= image_tag "finland-1.jpg", alt: "Finland",
															id: "Finland",
															class: "country",
													 		height: 300,
													 		width: 600,
													 		class: "img-responsive" %>

<% @country_img.each do |pic| %>
	<p><%= image_tag pic, width: 400, style: 'border-bottom: 25px' %></p>
<% end %>

<br>
<%= link_to "About", params_path %>
</br>